html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-moz-focus-inner {
	padding: 0;
}

@font-face {
	font-family:entypo_icons;src:url(entypo.eot);src:url(entypo.eot?#iefix) format('embedded-opentype'),url(entypo.woff) format('woff'),url(entypo.ttf) format('truetype'),url(entypo.svg#entypo) format('svg');font-weight:400;font-style:normal;
}

@font-face {
	font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
	font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
	font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'),local('OpenSansLight-Italic'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}

@font-face {
	font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'),local('OpenSans-Italic'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
	font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

html {
	font-family: 'Open Sans';
	width: 100%;
	background: #2c3e50;
}

body {
	min-width: 960px;
}

header {
	background: url(../img/headerblur.jpg);
	background-size: 100% auto;
	padding: 20px 0;
	height: 80px;
	box-shadow: inset 0 -5px 10px rgba(000,000,000,.2),0 0 10px rgba(000,000,000,.4);
	z-index: 100;
	position: relative;
	min-width: 960px;
}

div.logo {
	background-image: url(../img/logoheader.png);
	width: 280px;
	height: 45px;
	background-size: 100% 100%;
	margin: 0 0 30px -5px;
}

div.content {
	width: 960px;
	margin: 0 auto;
}

nav.main {
	background: rgba(255,255,255,.5);
	box-shadow: 0 0 15px rgba(000,000,000,.3);
	margin-bottom: 10px;
	margin-top: -45px;
	position: relative;
	z-index: 200;
}

nav a {
	text-transform: uppercase;
	font-size: .95em;
	color: #FFF;
	text-decoration: none;
	padding: .6em .3em;
	display: inline-block;
	text-shadow: 0 0 4px rgba(000,000,000,.5);
}

nav a.active {
	box-shadow: inset 0 -3px 0 rgba(255,255,255,.6);
}

nav a:first-child {
	padding-left: 0!important;
	margin-left: -4px;
}

div.shoppingcart {
	background: rgba(255,255,255,.5);
	box-shadow: 0 0 .2em rgba(000,000,000,.3);
	text-shadow: 0 0 4px rgba(000,000,000,.5);
	color: #FFF;
	padding: .5em;
	float: right;
	font-size: .85em;
	width: 15em;
	padding-left: 3.2em;
}

div.shoppingcart a {
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	display: block;
	font-size: 1.1em;
}

div.shoppingcart div.icon {
	font-family: entypo_icons;
	font-size: 57px;
	float: left;
	height: 30px;
	margin: -28px 0 0 -38px;
}

.addprodbox {
	background: #FFF;
	box-shadow: 0 0 4px rgba(000,000,000,.2);
	padding: 12px;
	color: rgba(000,000,000,.6);
	font-size: 14px;
	width: 436px!important;
	margin-top: -20px!important;
	position: relative;
	z-index: 200;
}

hr {
	border: 0;
	height: 1px;
	background: rgba(000,000,000,.2);
}

div.featured {
	width: 100%;
	height: 300px;
	background-image: url(../img/bokehbg.jpg);
	background-size: 100% auto;
	min-width: 960px;
	box-shadow: inset 0 0 50px rgba(000,000,000,1);
	text-shadow: 0 2px 0 rgba(000,000,000,.6);
}

div.featured span {
	font-size: 35px;
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	padding: 5px 10px;
	background: rgba(000,000,000,.5);
	text-shadow: 0 0 4px rgba(000,000,000,.8);
}

div.featured .content.slide {
	background: url(../img/preciosredondos.png) no-repeat;
	background-position: right;
	height: 200px;
	padding: 50px 0;
}

div.featured .content.slide div {
	margin-top: 20px;
	width: 300px;
	color: #FFF;
	font-size: 15px;
	text-shadow: 0 0 5px #000, 0 0 8px #000;
	/*text-align: justify;*/
}

div.featured .content.slide a {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	padding: 3px 8px;
	background: rgba(000,000,000,.5);
	text-shadow: 0 0 4px rgba(000,000,000,.5);
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
}

div.fpbottom {
	width: 100%;
	background: #ecf0f1;
	box-shadow: 0 0 10px rgba(000,000,000,.6);
	position: relative;
	z-index: 200;
	padding: 20px 0;
	font-size: 14px;
	color: rgba(000,000,000,.5);
	text-align: justify;
	min-width: 960px;
	text-shadow: 0 1px 0 #FFF;
}

div.fpbottom .newproducts {
	width: 250px;
	float: right;
}

div.fpbottom .newproducts span {
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(000,000,000,.5);
	letter-spacing: -1px;
}

div.fpbottom span.title {
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(000,000,000,.5);
	letter-spacing: -1px;
	display: block;
	margin-bottom: 5px;
}

div.fpbottom .fpabout {
	width: 690px;
}

div.fpbottom span::before {
	content: '» ';
	color: #e67e22;
}

div.fpbottom .newproducts div {
	display: block;
	background: #FFF;
	padding: 5px;
	box-shadow: 0 0 5px rgba(000,000,000,.4);
	margin-top: 10px;
}

div.fpbottom .newproducts div img {
	width: 240px;
	height: 170px;
	background-size: 100% auto;
	box-shadow: inset 0 0 3px rgba(000,000,000,.2);
	border: 0;
}

div.fpbottom .newproducts div a {
	font-size: 13px;
	color: rgba(000,000,000,.8);
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

div.fpbottom .newproducts div a:hover {
	color: rgba(000,000,000,.7);
}

div.footer {
	background: #34495e;
	position: relative;
	z-index: 80;
	color: rgba(255,255,255,.4);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2);
	box-shadow: 0 0 15px rgba(000,000,000,.6);
	font-size: 13px;
	padding: 15px 0;
}

div.footer2 {
	background: #2c3e50;
	z-index: 60;
	box-shadow: none;
}

.right {
	float: right;
}

div.footer a {
	color: rgba(255,255,255,.4);
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	border-bottom: 1px dotted rgba(255,255,255,.4);
}

div.footer a:hover {
	color: rgba(255,255,255,.8);
}

div.header {
	background: #34495e;
	position: relative;
	z-index: 87;
	color: rgba(255,255,255,.9);
	text-shadow: 0 -1px 0 rgba(000,000,000,.2);
	box-shadow: 0 0 15px rgba(000,000,000,.6);
	font-size: 24px;
	padding: 15px 0;
}

div.header.header2 {
	background: #2c3e50;
	z-index: 86;
	font-size: 13px;
	padding: 10px 0;
    line-height: 1.1;
}

div.header a {
	color: rgba(255,255,255,.4);
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	border-bottom: 1px dotted rgba(255,255,255,.4);
}

div.header a:hover {
	color: rgba(255,255,255,.8);
}

div.products {
	padding: 30px 0;
	z-index: 82;
	box-shadow: 0 0 15px rgba(000,000,000,.6);
	background-color: #e9e9e9;
	position: relative;
}

div.fulltextbody {
	padding: 30px 0;
	z-index: 82;
	box-shadow: 0 0 15px rgba(000,000,000,.6);
	background: #FFF;
	position: relative;
	font-size: 13px;
	color: rgba(000,000,000,.8);
	text-align: justify;
}

div.product {
	display: inline-block;
	background: #FFF;
	padding: 8px;
	box-shadow: 0 0 5px rgba(000,000,000,.4);
	border: 1px solid rgba(000,000,000,0.2);
	margin-top: 10px;
	margin-right: 10px;
	width: 290px;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
}

div.product.newproduct{
	background-color: #FF9203 !important;
	box-shadow: 0 0 10px #FF9203 !important;

}

div.product.sanvalentin{
	background-color: #FF006A !important;
	box-shadow: 0 0 10px #FF006A !important;

}

div.product:nth-child(3n) {
	margin-right: 0!important;
}

div.product img {
	width: 290px;
	height: 216px;
	background-size: 100% auto;
	background-repeat: no-repeat!important;
	box-shadow: inset 0 0 3px rgba(000,000,000,.2);
	border: 0;
	display: inline-block;
	margin-bottom: 5px;
}

div.product.newproduct img{
	border: 1px solid #cb7402;
	box-shadow: inset 0 0 10px #FF9203;
}

div.product.sanvalentin img{
	border: 1px solid #BD155B;
	box-shadow: inset 0 0 10px #FF006A;
}

div.product a {
	font-size: 11px;
	text-transform: uppercase;
	color: rgba(000,000,000,.8);
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	display: inline-block;
}

div.product.newproduct a{
	color: #FFF !important;
}

div.product.sanvalentin a{
	color: #FFF !important;
}

div.product a:hover {
	color: rgba(000,000,000,.7);
}

div.error {
	padding: 0 100px;
	font-size: 20px;
	color: rgba(000,000,000,.6);
	text-align: center;
}

div.error div {
	font-size: 80px;
	color: #e67e22;
}

div.error span {
	font-size: 22px;
	display: block;
	margin: 20px 0 5px;
	color: rgba(000,000,000,.8);
}

div.error2 {
	padding: 0 100px;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}

div.error2 div {
	font-size: 80px;
	color: #e67e22;
}

div.error2 span {
	font-size: 22px;
	display: block;
	margin: 20px 0 5px;
	color: rgba(255,255,255,.8);
}

div.fulltextbody h1 {
	font-size: 20px;
	color: #000;
	font-weight: 700;
}

div.fulltextbody h2 {
	font-size: 16px;
	color: rgba(000,000,000,.9);
	font-weight: 700;
}

div.fulltextbody h2::before {
	content: '» ';
	color: #e67e22;
}

div.fulltextbody div.p {
	margin-top: 10px;
}

div.fulltextbody div.p::before {
	content: '• ';
	color: #e67e22;
}

div.fulltextbody h3 {
	color: rgba(000,000,000,.9);
	text-transform: uppercase;
	font-weight: 700;
}

div.fulltextbody div.noball::before {
	content: ''!important;
}

.headerxmas {
	background: #8e0f1f!important;
}

.headerxmas2 {
	background: #ae2133!important;
	color: rgba(255,255,255,.6)!important;
}

.gsc-control-cse {
	padding: 0!important;
	background: 0!important;
	border: 0!important;
	margin: -10px 0 0 -10px;
}

.gsc-input {
	background-image: none!important;
}

.gsc-input input {
	border: 1px solid rgba(000,000,000,.9)!important;
	border-radius: 2px;
}

.gsc-search-button {
	margin-left: 5px!important;
}

.gsc-wrapper {
	margin-top: 30px!important;
}

#picgallery {
	width: 300px!important;
	height: 245px!important;
	padding: 15px;
	background: #FFF;
	box-shadow: 0 0 8px rgba(000,000,000,.2);
	position: relative;
	margin-right: 20px;
	overflow: hidden;
}

#picgallery2 {
	width: 580px!important;
	height: 340px!important;
	padding: 15px;
	background: #FFF;
	box-shadow: 0 0 8px rgba(000,000,000,.2);
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

#picgallery div {
	width: 300px!important;
	height: 225px!important;
	position: absolute;
	top: 15px;
	left: 15px;
	background-size: 100% auto;
	background-repeat: no-repeat!important;
	box-shadow: inset 0 0 8px rgba(000,000,000,.2);
	border: 0;
	background-image: url(../img/loader.gif);
	background-position: center;
}

#picgallery div a img {
	width: 300px!important;
	height: 225px!important;
}

.addtocartbtn {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	padding: 3px 8px;
	background: rgba(000,000,000,.5);
	text-shadow: 0 0 4px rgba(000,000,000,.5);
	text-decoration: none;
	display: inline-block;
	position: relative;
	top: -3px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

.addtocartbtn:hover {
	background: rgba(000,000,000,.3);
}

.addtocartbtn:active {
	background: rgba(000,000,000,.2);
	box-shadow: inset 0 0 2px rgba(000,000,000,.8);
}

.productpage {
	min-height: 260px;
}

img#dynamicpic {
	max-width: 80%;
	max-height: 80%;
	display: none;
	box-shadow: 0 0 10px rgba(000,000,000,.8);
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
}

div.table {
	font-size: 13px;
	color: rgba(000,000,000,.8);
	border: 1px solid rgba(000,000,000,.6);
	margin-bottom: 10px;
}

div.table div.title {
	background: rgba(000,000,000,.6)!important;
	color: #FFF;
}

div.table div div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 15px;
	display: inline-block;
}

div.table div div:nth-child(1) {
	width: 90px;
}

div.table div div:nth-child(2) {
	width: 618px;
}

div.table div div:nth-child(3) {
	width: 130px;
}

div.table div div:nth-child(4) {
	width: 120px;
}

div.table div.cartproduct:nth-child(2n+1) {
	background: rgba(000,000,000,.1);
}

div.table div div a {
	color: rgba(000,000,000,.8);
	text-decoration: none;
	border-bottom: 1px dotted rgba(000,000,000,.8);
}

input[type=email],input[type=password],input[type=text],textarea {
	font-family: 'Open Sans';
	font-size: 13px;
	color: rgba(000,000,000,.8);
	padding: 4px 8px;
	border: 1px solid rgba(000,000,000,.3);
	outline: 0;
	background: rgba(000,000,000,.01);
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	line-height: 160%;
	resize: none!important;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus {
	border: 1px solid rgba(000,000,000,.5);
	background: #FFF;
}

.button {
	background: #2c3e50;
	color: #FFF;
	padding: 8px 0;
	font-size: 14px;
	width: 100%;
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
	display: inline-block;
	margin-top: 8px;
	text-align: center;
	border: 0;
	outline: 0;
	font-family: 'Open Sans';
	text-transform: uppercase;
}

.button:hover {
	background: #34495e;
}

.button:active {
	box-shadow: inset 0 0 20px rgba(000,000,000,.6);
}

body.frame {
	font-size: 13px;
	background: #FFF;
	min-width: 500px!important;
	width: 500px!important;
	box-shadow: none;
}

body.frame header {
	box-shadow: 0 0 8px rgba(000,000,000,.4);
	background: #2c3e50;
	padding: 10px 20px;
	color: #FFF;
	height: auto;
	font-size: 20px;
	min-width: 0!important;
	width: auto;
}

body.frame form {
	float: right;
	width: 215px;
	padding: 20px;
}

body.frame form:last-child {
	float: none!important;
}

.loginframe {
	display: none;
	border: 0;
	width: 517px;
	height: 80%;
	border-radius: 2px;
	box-shadow: 0 0 10px #000;
	min-height: 340px;
}

body.frame2 {
	font-size: 13px;
	background: #FFF;
	min-width: 500px!important;
	width: 517px!important;
	box-shadow: none;
}

body.frame2 header {
	box-shadow: 0 0 8px rgba(000,000,000,.4);
	background: #2c3e50;
	padding: 10px 20px;
	color: #FFF;
	height: auto;
	font-size: 20px;
	min-width: 0!important;
	width: auto;
}

body.frame2 form {
	padding: 20px;
}

.shippingbox {
	padding: 15px;
	background: rgba(000,000,000,.1);
	border: 1px solid rgba(000,000,000,.2);
	font-size: 14px;
	margin: 10px 0;
}

#sanvalentin_overlay{
	width: 550px;
	border-radius: 2px;
	background: rgba(000,000,000,0.8);
	border: 1px solid rgba(000,000,000,0.9);
	box-shadow: 0 0 30px #000;
	min-height: 150px;
	display: none;
	color: #FFF;
	border-radius: 3px;
	margin-top: 15%;
}

#sanvalentin_overlay div.title{
	background: #FF006A;
	padding: 8px 10px;
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(000,000,000,0.6);
	border: 1px solid #BD155B;
	width: 307px;
	margin:10px 0;
}
#sanvalentin_overlay div.title .close{
	display: inline-block;
	float: right;
	padding: 2px 4px;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFF;
	border-radius: 3px;
	box-shadow: inset 0 0 3px rgba(000,000,000,0.3);
	border: 1px solid #BD155B;
	text-decoration: none !important;
}
#sanvalentin_overlay div{
	font-size: 14px;
	width: 310px;
	padding: 10px;
}
#sanvalentin_overlay img{
	float: right;
	border-radius: 3px;
	width: 220px;
	box-shadow: inset 0 0 5px rgba(000,000,000,.6);
}

#newproducts_overlay{
	width: 550px;
	border-radius: 2px;
	background: rgba(000,000,000,0.8);
	border: 1px solid rgba(000,000,000,0.9);
	box-shadow: 0 0 30px #000;
	min-height: 150px;
	display: none;
	color: #FFF;
	border-radius: 3px;
	margin-top: 15%;
}

#newproducts_overlay div.title{
	background: #FF9203;
	padding: 8px 10px;
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(000,000,000,0.6);
	border: 1px solid #cb7402;
	width: 307px;
	margin:10px 0;
}
#newproducts_overlay div.title .close{
	display: inline-block;
	float: right;
	padding: 2px 4px;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFF;
	border-radius: 3px;
	box-shadow: inset 0 0 3px rgba(000,000,000,0.3);
	border: 1px solid #cb7402;
	text-decoration: none !important;
}
#newproducts_overlay div{
	font-size: 14px;
	width: 310px;
	padding: 10px;
}
#newproducts_overlay img{
	float: right;
	border-radius: 3px;
	width: 220px;
	box-shadow: inset 0 0 5px rgba(000,000,000,.6);
}