RewriteEngine On

# Mostrar paginas
RewriteRule ^cat/([^/]*)/([^/]*)/$ /cat.php?id=$1 [L]
RewriteRule ^subcat/([^/]*)/([^/]*)/$ /subcat.php?id=$1 [L]
RewriteRule ^prod/([^/]*)/([^/]*)/$ /prod.php?id=$1 [L]
RewriteRule ^cart/([^/]*)$ /cart.php$1 [L]
RewriteRule ^legal/([^/]*)$ /legal.php?texto=$1 [L]

# Paginas de error personalizadas
ErrorDocument 400 /404.php
ErrorDocument 401 /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:eWetynagus
allow from 54.77.220.190
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eWetynagus:IPDENYID

